:root {
  --black: #191919;
  --odd_pad_black: #252525;
  --green: #2affaa;
  --purple: #7961f2;
  --blue: #3ca9ff;
  --even_pad_black: #333333;
  --control_green: #42cf53;
  --muted: #3f3f3f;
  --text_white: #fcfcfc;
  --icon: #5f5f5f;
}
